.catalog__collection {
  padding-top: 126px;
  &-title {
    margin-bottom: 61px;
  }
  .tabs {
    &__btn-wrapper {
      display: flex;
    }
    &__btn {
      max-width: 50%;
      width: 100%;
      height: 67px;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: var(--color);
      border: 1px solid var(--tabs-btn-bg);
      transition: 0.3s;
      cursor: pointer;
    }
    &__wrapper {
      position: relative;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-image: linear-gradient(
        to right,
        #22bafb,
        #64eeb4,
        #fff5dd,
        #c8f3f9,
        #184cd1
      );
      margin-top: 135px;
      padding-top: 43px;
      padding-bottom: 69px;
      border-image-slice: 1;
    }
    &__item {
      display: none;
      &-title {
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 46px;
      }
    }
    &__features {
      &-title {
        font-weight: 400;
        font-size: 30px;
        line-height: 41px;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
      }
      &-lists {
        display: flex;
        justify-content: space-between;
        width: 424px;
      }
      &-list {
        text-align: left;
      }
      &-item {
        font-weight: 300;
        font-size: 20px;
        line-height: 47px;
      }
    }
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__to-collection {
      flex: 1;
      .img-stone {
        position: absolute;
        right: -55px;
        top: 41px;
      }
      .img-wood {
        position: absolute;
        right: -40px;
        top: 35px;
      }
      .btn-wrapper {
        position: absolute;
        bottom: 60px;
        right: 13%;
        .tabs__to-collection-btn {
          cursor: pointer;
          position: relative;
          img{
            transition: .3s;
            display: var(--to-collection-btn);
          }
          .tabs__to-collection-btn-light{
            display: var(--to-collection-btn-light);
          }
          &::after {
            position: absolute;
            content: "Перейти к коллекции";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 400;
            font-size: 24px;
            line-height: 33px;
            color: var(--color);
            white-space: nowrap;
          }
          &:hover{
            img{
              transform: rotate(10deg);
            }
          }
        }
      }
    }
  }
}
.catalog__recommend {
  padding-top: 10px;
}
.tabs-navigation__item--active{
  background: var(--tabs-btn-bg);
  color: #fbfbfb!important;
}
.tab--active{
  display: block!important;
}
