.sales__content{
  display:flex;
  gap:3%;
  .block{
    position: relative;
  }
}
.sales__content img{
width:100%;
  position:relative;
  max-width:380px;
  
}
.sales__item-name{
  font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #f7f5f2;
}
.sales__info{
  position: absolute;
  top:63px;
  margin-left:26px;
    margin-right:20px;
  width: 100%;
  max-width:300px;
}
.sales__title{
  font-family: 'RebelTypeDog';
font-style: normal;
font-weight: 400;
font-size: 76.0031px;
line-height: 131.5%;
  letter-spacing: 0.05em;
   padding-bottom:90px;
  padding-top:64px
}