.section__toptitle{
    
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 19px;
text-decoration: none;
color: #F7F5F2 ; 
text-transform: lowercase;
margin-top: 64px;

}
a:hover, a:focus, a:active,a:link {
    text-decoration: none;
    color: inherit;
}
.sales__title{
    margin-top: 64px;
    margin-bottom: 94px;
    
}
.sales__imagebox{
    display: block;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .sales__imagebox :before{
   content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
    box-sizing: border-box;
  }
  .sales__title {
    margin-top: 64px;
    margin-bottom: 94px;
  }
  
  .sales__item {
    background: #35405C;
    display: block;
    min-width: 210px;
    width: 380px;
    max-width: 380px;
    height: 529px;
    max-height:529;
    min-height: 293px;
    
    position: relative;
    
    overflow: hidden;
    resize: horizontal;
  }
  
  .sales__item-name {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FBFBFB;
    margin-top: 73px;
    margin-left: 26px;
  }
  
  .sales__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0px 27px;
  }
  
  
  
  .sales__item-circle {
    left: 14px;
    top: 15px;
  }
  
  #card1pic1 {
    display: block;
    width: 70%;
    height: auto;
    position: absolute;
    left: 0%;
    bottom: 0;
  }
  
  #card1pic2 {
   display: block;
    width: 80%;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-filter: drop-shadow(6px 0px 7px rgba(55, 34, 22, 0.1));
            filter: drop-shadow(6px 0px 7px rgba(55, 34, 22, 0.1));
  }
  
#card1pic3{
    left: 61px; top: -538px;
    filter: drop-shadow(6px 0px 7px rgba(55, 34, 22, 0.1));
}
#card1pic4{
    left: -3px; top: -800px;
    width: 179.07px;
height: 262.5px;
}
#card1pic5{
    left: 50px; top: -1007px;
}
#card2pic1,#card3pic1{
    top: 23px;
    left: 49px;
}
#card2pic4{
    left: 199px; top: -1008px;
    z-index: 2;
    filter: drop-shadow(6px 0px 7px rgba(55, 34, 22, 0.1));
}
#card2pic3{
    left: 125px; top: -694px;
    filter: drop-shadow(6px 0px 7px rgba(55, 34, 22, 0.1));
}
#card2pic2{
    left: 45px; top: -312px;
    z-index: 1;
    filter: drop-shadow(6px 0px 7px rgba(55, 34, 22, 0.1));
}
#card2pic5{
    left: 74px; top: -1272px;
    z-index: 3;
}
#card3pic2{
    left: 75px; top: -326px;
    filter: drop-shadow(6px 0px 7px rgba(22, 30, 55, 0.27));
    
}
#card3pic3{
    left: 77px; top: -366px;
}
// Новое
.card {
  display: block;
  min-width: 50px;
  width: 380px;
  max-width: 380px;
  height: 529px;
  background-color:  #35405C;
  position: relative;
  /* для ресайза */
  overflow: hidden;
  resize: horizontal;
  padding:0px 0px 0px 0px;
}

.image {
  display: block;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.image::before {
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  padding-top: 190%;
 
  box-sizing: border-box;
}

.image-circle {
  display: block;
  width: 229%;
  height: 120%;
  border-radius: 50%;
  background-color: #3669D8;
  position: absolute;
  top: 10%;
  left: -70%;
}

.image-img-1 {
  display: block;
  width: 100%;
  height:100%;
  height: auto;
  position: absolute;
  left: 0%;
  bottom: 0;
}

.image-img-2 {
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 40%;
  bottom: -60%;
  transform: rotate(-32.8deg);
}

.image-img-3 {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  left: -40%;
  bottom: -5%;
  transform: translateX(-50%);
}
.image-img-4 {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  left: -40%;
  bottom: -5%;
  transform: translateX(-50%);
}
.block{
  display: block; 
     
}
.sales__row{
  display:flex;
  gap:5%;
}

  .sales__item-name {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FBFBFB;
    margin-top: 73px;
    margin-left: 26px;
  }
  