.sales__content{
  display:flex;
  gap:20px
}
.sales__content img{
  position:relative;
  
}
.sales__item-name{
  position:absolute;
  z-index:2;
  top:500px;
  font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
}
.sales__title{
  font-family: 'RebelTypeDog';
font-style: normal;
font-weight: 400;
font-size: 76.0031px;
line-height: 131.5%;
  letter-spacing: 0.05em;
}