* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #fbfbfb;
  color: var(--color);
  background: linear-gradient(198.86deg, #18223b 14.21%, #27282c 73.28%);
  background: var(--body-bg);
  // overflow: hidden;
  transition: .3s;
}
h2 {
  font-family: "RebelTypeDog";
  font-weight: 400;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: var(--color);
}
.stone-collection{
  background: var(--collection-stone-bg);
}
.wood-collection{
  background: var(--collection-wood-bg);
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
  opacity: 1;
}


//title-animation
h2{
  transform: translateY(-50px);
  opacity: 0;
}
.peculiar__title{
  transform: translateY(0);
  opacity: 1;
}

._anim-items {
  &._active {
    h1,
    h2 {
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      transform: translateY(-50px);
      opacity: 0;
      animation-name: titleAnimation;
      animation-timing-function: ease;
      animation-duration: 3s;
      animation-delay: 0.1s;
      -webkit-animation-fill-mode: forwards;
    }
    @keyframes titleAnimation {
      0% {
        transform: translateY(-50px);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      }
      20% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
      }
      80% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
      }
    }
  }
}
@media(max-width: 744px){
  .breadcrumbs{
    .breadcrumbs__list{
      padding-top: 45px;
    }
  }
}
@media(max-width: 360px){
  .breadcrumbs{
    .breadcrumbs__list{
      padding-top: 23px;
    }
  }
}
.footer .buyer{
  padding-top: 0;
}
.modal-overlay{
  .form-sent.sent{
    display: none;
  }
}