@import'small-blocks/header-popup';
@import'small-blocks/card-slider-popup';
@import 'header';
@import 'swiper';
@import 'types';
@import 'recommend';
@import 'unique';
@import 'gallery';
@import 'samples';
@import 'peculiar';
@import 'service';
@import 'form';
@import 'footer';
@import 'catalog';
@import 'product/product';
@import 'blocks/compound';
@import 'collections/collections';