@import 'collection-stone';
@import 'collection-wood';
.collection__gallery{
  @media(max-width: 1350px){
    .container{
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media(max-width: 1100px){
    .gallery-item{
      &_1{
        height: 411px;
      }
      &_3{
        height: 394px;
      }
      &_4{
        height: 312px;
      }
    }
  }
  @media(max-width: 744px){
    padding-top: 72px;
    .gallery__column{
      gap: 10px;
    }
    .gallery-item{
      &_1{
        height: 411px;
      }
      &_2{
        height: 278px;
      }
      &_3{
        height: 178px;
      }
      &_4{
        height: 312px;
      }
    }
  }
  @media(max-width: 700px){
    .container{
      padding-left: 20px;
      padding-right: 20px;
      flex-direction: column;
      gap: 10px;
    }
    .gallery-item{
      &_1{
        max-width: 100%;
      }
      &_2{
        max-width: 100%;
      }
      &_3{
        max-width: 100%;
      }
      &_4{
        max-width: 100%;
      }
    }
  }
  @media(max-width: 500px){
    height: 1023px;
    .container{
      height: 1023px;
    }
    .gallery__column:nth-child(2){
      align-items: end;
      transform: translateY(-189px);
    }
    .gallery-item{
      &_1{
        height: 412px;
      }
      &_2{
        height: 179px;
        width: calc(50% - 5px);
      }
      &_3{
        height: 179px;
        width: calc(50% - 5px);
      }
    }
  }
}
@media(max-width: 744px){
  .stone-collection,
  .wood-collection{
    .recommend{
      padding-top: 100px;
    }
  }
}
@media(max-width: 500px){
  .stone-collection,
  .wood-collection{
    .recommend{
      padding-top: 76px;
    }
  }
}