.not-found{
  &__img{
    padding-top: 120px;
    width: 100%;
  }
  &__link {
    display: inline-block;
    position: relative;
    max-width: 507px;
    width: 100%;
    height: 195.33px;
    margin-left: 5px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    &::after {
      position: absolute;
      content: "Перейти на главную";
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-25%);
      font-size: 24px;
      line-height: 33px;
      color: #fbfbfb;
      white-space: nowrap;
      transition: 0.3s;
    }
    &:hover {
      transform: rotate(9deg);
      &::after {
        transform: translateX(-52%) translateY(-37%) rotate(-9deg);
      }
    }
    &-wrapper{
      display: flex;
      justify-content: center;
      margin-bottom: 130px;
    }
  }
}