.projects {
  padding-top: 64px;
  .container {
    position: relative;
  }
  &__ball {
    position: absolute;
    width: 596.36px;
    height: 596.36px;
    background: #184cd1;
    border-radius: 100%;
    top: -26px;
    right: 0;
  }
  &__title {
    font-weight: 400;
    font-size: 76.0031px;
    line-height: 131.5%;
    letter-spacing: 0.05em;
    margin-bottom: 64px;
  }
  &__descr {
    position: absolute;
    left: 43px;
    bottom: 30px;
  }
  &-slider {
    overflow: hidden;
    z-index: 2;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &__title {
      position: relative;
      font-weight: 600;
      font-size: 30px;
      line-height: 41px;
      color: #1f2023;
      display: inline-block;
      padding-right: 64px;
      margin-bottom: 5px;
      &::after {
        position: absolute;
        content: "";
        width: 50px;
        height: 39px;
        background-image: url(../../img/projects/arrow-link.svg);
        background-size: contain;
        right: 0;
      }
    }
    &__text {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #1f2023;
      max-width: 467px;
      width: 100%;
    }
  }
  .swiper-slide {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 511px;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    background: #775e4f;
    border-radius: 100%;
    &-prev {
      left: 16px;
    }
    &-next {
      right: 16px;
      img {
        transform: rotate(180deg);
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 63px;
    &-row {
      display: flex;
      gap: 20px;
      &:nth-child(1) {
        .projects__item {
          &:nth-child(1) {
            max-width: 640px;
            width: 100%;
          }
          &:nth-child(2) {
            max-width: 521px;
            width: 100%;
          }
        }
      }
      &:nth-child(2) {
        .projects__item {
          &:nth-child(1) {
            max-width: 521px;
            width: 100%;
          }
          &:nth-child(2) {
            max-width: 640px;
            width: 100%;
          }
        }
      }
    }
  }
  &__item {
    position: relative;
    height: 430px;
    &-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &-descr {
      position: absolute;
      left: 31px;
      bottom: 18px;
    }
    &-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #f5f7fa;
      margin-bottom: 11px;
    }
    &-text {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #f5f7fa;
      max-width: 300px;
      width: 100%;
    }
  }
  .item-arrow {
    position: absolute;
    right: 61px;
    bottom: 17px;
  }
}
.project {
  padding-top: 64px;
  .form {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    position: relative;
  }
  &__title {
    font-weight: 400;
    font-size: 76.0031px;
    line-height: 131.5%;
    letter-spacing: 0.05em;
    margin-bottom: 64px;
  }
  &-slider {
    overflow: hidden;
    z-index: 2;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &__title {
      position: relative;
      font-weight: 600;
      font-size: 30px;
      line-height: 41px;
      color: #1f2023;
      display: inline-block;
      padding-right: 64px;
      margin-bottom: 5px;
      &::after {
        position: absolute;
        content: "";
        width: 50px;
        height: 39px;
        background-image: url(../../img/projects/arrow-link.svg);
        background-size: contain;
        right: 0;
      }
    }
    &__text {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #1f2023;
      max-width: 467px;
      width: 100%;
    }
  }
  .swiper-slide {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 511px;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    border-radius: 100%;
    &-prev {
      left: 16px;
    }
    &-next {
      right: 16px;
      img {
        transform: rotate(180deg);
      }
    }
  }
  .business {
    position: relative;
    padding-top: 68px;
    &__title {
      font-weight: 400;
      font-size: 47px;
      line-height: 131.5%;
      letter-spacing: 0.05em;
      margin-bottom: 38px;
    }
    &__inner {
      display: flex;
      margin-bottom: 32px;
    }
    &__text {
      max-width: 633px;
      width: 100%;
      margin-right: 55px;
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
    }
    .btn-wrapper {
      margin-top: 30px;
      position: relative;
      margin-bottom: 30px;
      &:hover .business__btn {
        transform: rotate(10deg);
      }
      &::after {
        position: absolute;
        content: "Оставить заявку";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: #fbfbfb;
      }
    }
    &__btn {
      position: relative;
      z-index: 2;
      cursor: pointer;
      transition: 0.3s;
      width: 429px;
      height: 182px;
    }
    &__lists {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 502px;
      right: 0;
      top: 68px;
      @media (max-width: 1200px) {
        width: 400px;
      }
      @media (max-width: 942px) {
        width: 254px;
      }
      @media (max-width: 500px){
        display: none;
      }
    }
    &__list-item {
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 17px;
      @media (max-width: 942px) {
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
      }
    }
    .validity,
    .square {
      position: relative;
      padding-left: 54px;
      @media (max-width: 942px){
        padding-left: 32px;
      }
      &::before {
        position: absolute;
        content: "";
        width: 44px;
        height: 1px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/svg/product/line-icon.svg);
        @media (max-width: 942px){
          width: 26px;
        }
      }
    }
  }
}
.project-form {
  width: 100%;
  padding: 50px 70px 72px;
  background: #202a43;
  margin-top: 154px;
  &__title {
    font-family: "RebelTypeDog";
    font-weight: 400;
    font-size: 47px;
    line-height: 131.5%;
    margin-bottom: 56px;
  }
  .form-benefits {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    &__item {
      position: relative;
      flex: 1;
      padding-right: 40px;
      padding-top: 38px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  &__icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__inputs {
    display: flex;
    gap: 35px;
    width: 100%;
    margin-bottom: 35px;
  }
  &__input {
    flex: 1;
    height: 79px;
    border: 1px solid #fbfbfb;
    padding-left: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 161.9%;
    color: #fbfbfb;
    &::placeholder {
      color: #fbfbfb;
    }
  }
  &__textarea {
    width: 100%;
    height: 142px;
    border: 1px solid #fbfbfb;
    border-radius: 0;
    resize: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 161.9%;
    color: #fbfbfb;
    padding: 25px 15px;
    margin-bottom: 37px;
    &::placeholder {
      color: #fbfbfb;
    }
  }
  &__bottom {
    display: flex;
    gap: 35px;
  }
  &__btn {
    background: #393e4d;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #fbfbfb;
    height: 81px;
    text-align: center;
    border: 1px solid;
    flex: 1;
    border-image: linear-gradient(
      to right,
      #22bafb,
      #64eeb4,
      #fff5dd,
      #c8f3f9,
      #184cd1
    );
    border-image-slice: 1;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      border-width: 3px;
      background: #474f68;
    }
    &:active {
      color: #b4b9c9;
      background: transparent;
      border-width: 1px;
      span::after {
        background-image: url(../img/svg/recommend/arrow-active.svg);
      }
    }
    span {
      padding-right: 70px;
      position: relative;
      &::after {
        @extend %ba;
        right: 0;
        top: 0;
        width: 50px;
        height: 40px;
        background-image: url(../img/svg/recommend/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
  .agreement {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    flex: 1;
    &-link {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #fbfbfb;
      text-decoration: underline;
    }
  }
}
.other-projects {
  padding-top: 152px;
  &__title {
    font-weight: 400;
    font-size: 47px;
    line-height: 131.5%;
    letter-spacing: 0.05em;
    margin-bottom: 46px;
  }
  &__inner {
    display: flex;
    gap: 20px;
  }
  &__item {
    flex: 1;
    color: #fbfbfb;
  }
  &__img {
    max-width: 380px;
    width: 100%;
    height: 316px;
    margin-bottom: 16px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 11px;
  }
  &__descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    padding-right: 60px;
  }
  @media (max-width: 942px) {
    padding-top: 83px;
    &__title {
      font-size: 26px;
      margin-bottom: 26px;
    }
    &__inner {
      gap: 11px;
    }
    &__img {
      height: 250px;
      margin-bottom: 9px;
    }
    &__name {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 6px;
    }
    &__descr {
      font-size: 10px;
      line-height: 14px;
      padding-right: 30px;
    }
  }
  @media (max-width: 744px) {
    &__img {
      height: 177px;
    }
  }
  @media (max-width: 500px) {
    padding-top: 74px;
    &__title {
      font-size: 20px;
      margin-bottom: 42px;
    }
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__img {
      max-width: 100%;
      height: 316px;
      margin-bottom: 16px;
    }
    &__name {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 11px;
    }
    &__descr {
      font-size: 16px;
      line-height: 22px;
      padding-right: 20px;
    }
  }
}
