.brand {
  overflow: hidden;
  &__title {
    padding-top: 74px;
    margin-bottom: 36px;
    font-family: "RebelTypeDog";
    font-style: normal;
    font-weight: 400;
    font-size: 76.0031px;
    line-height: 131.5%;
    letter-spacing: 0.05em;
  }
  &__slider {
    overflow: hidden;
    height: 511px;
  }
  .swiper-slide {
    height: 511px;
  }
  .brand-banner {
    height: 511px;
    width: 100%;
    position: relative;
    &__title {
      position: absolute;
      font-family: "RebelTypeDog";
      font-weight: 400;
      font-size: 38px;
      line-height: 131.5%;
      letter-spacing: 0.05em;
      bottom: 22px;
      left: 48px;
    }
    &__logo {
      position: absolute;
      right: 14px;
      bottom: 14px;
      svg {
        width: 130px;
        height: 32px;
      }
    }
    &__arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      &-prev {
        left: 16px;
      }
      &-next {
        right: 16px;
        img {
          transform: rotate(180deg);
        }
      }
      img {
        width: 56px;
        height: 56px;
      }
    }
    .banner-bg{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .swiper-slide {
    &.slide-2 {
      .brand-banner__title {
        bottom: 32px;
      }
    }
    &.slide-3 {
      .brand-banner__title {
        bottom: 108px;
      }
    }
  }
  .banner-logo-bg {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .care {
    padding-top: 130px;
    &__title {
      font-weight: 400;
      font-size: 76.0031px;
      line-height: 60px;
      letter-spacing: 0.05em;
      margin-bottom: 56px;
      span {
        font-size: 43px;
        line-height: 55px;
        letter-spacing: 0.14em;
      }
    }
    &__video {
      width: 100%;
      height: 606px;
      background-image: url(../img/brand/video.jpg);
      background-position: center;
    }
  }
  .prod-duration {
    position: relative;
    padding-top: 110px;
    &__title {
      font-weight: 400;
      font-size: 96.6788px;
      line-height: 131.5%;
      letter-spacing: 0.02em;
      text-align: center;
      span {
        display: block;
        &:nth-child(2) {
          font-size: 200.349px;
          line-height: 90%;
          display: inline-block;
          transform: translateX(-84%);
        }
        &:nth-child(3) {
          font-size: 125px;
          line-height: 120%;
          display: inline-block;
          transform: translateX(-84%);
        }
      }
    }
    &__subtitle {
      width: 523px;
      height: 297px;
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
      position: absolute;
      left: 55%;
      top: 262px;
    }
    .boards {
      position: absolute;
      height: 105px;
      &-left {
        top: 446px;
        right: 47%;
        width: 1009px;
      }
      &-right {
        right: -9px;
        top: 593px;
        width: 1546px;
      }
    }
    .prod-years__lists {
      padding-top: 343px;
    }
    .prod-years__item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      &:first-child {
        .prod-years__descr {
          max-width: 550px;
          width: 100%;
        }
      }
      &:nth-child(2) {
        .prod-years__descr {
          max-width: 530px;
          width: 100%;
        }
      }
      &:nth-child(3) {
        .prod-years__descr {
          max-width: 620px;
          width: 100%;
        }
      }
      &:nth-child(4) {
        .prod-years__descr {
          max-width: 635px;
          width: 100%;
        }
      }
      &:nth-child(5) {
        position: relative;
        .prod-years__descr {
          max-width: 740px;
          width: 100%;
        }
        .prod-years__year {
          margin-bottom: 0;
          text-align: left;
        }
      }
      .prod-years__year {
        flex-shrink: 1;
        width: 231px;
        text-align: center;
        font-family: "RebelTypeDog";
        font-weight: 400;
        font-size: 76.0031px;
        line-height: 131%;
        letter-spacing: 0.05em;
        margin-right: 40px;
        margin-bottom: 60px;
        &-hidden{
          opacity: 0;
        }
        &-visible{
          position: absolute;
          left: 0;
          top: 20%;
        }
      }
      .prod-years__descr {
        display: inline-block;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        padding-top: 22px;
      }
    }
  }
  .brand__map {
    padding-top: 110px;
    position: relative;
    .line {
      width: 924px;
      height: 219px;
      position: absolute;
      right: -15px;
      top: 60px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .container {
      padding-left: 48px;
    }
    &-logo {
      margin-bottom: 26px;
      svg {
        width: 287px;
        height: 72px;
      }
    }
    &-descr {
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
      max-width: 562px;
      width: 100%;
    }
    &-img {
      max-width: 1540px;
      width: 100%;
      height: 820px;
      margin: 0 auto;
      padding-top: 60px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  .brand__cooperation {
    padding-top: 120px;
    .container{
      position: relative;
    }
    &-title {
      font-family: "RebelTypeDog";
      font-style: normal;
      font-weight: 400;
      font-size: 47px;
      line-height: 131.5%;
      letter-spacing: 0.05em;
      margin-bottom: 36px;
    }
    &-subtitle {
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
      max-width: 552px;
      width: 100%;
      margin-bottom: 70px;
    }
    &-lists{
      display: flex;
      justify-content: start;
      margin-bottom: 54px;
    }
    &-list{
      width: 50%;
    }
    .cooperation-item {
      padding-left: 54px;
      position: relative;
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 17px;
      &:last-child{
        margin-bottom: 0;
      }
      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 44px;
        height: 1px;
        background-image: url(../img/svg/product/line-icon.svg);
      }
    }
    .btn-wrapper {
      position: absolute;
      top: 225px;
      right: 13%;
      .more-link {
        cursor: pointer;
        position: relative;
        img{
          transition: .3s;
          width: 360px;
          height: 151px;
        }
        &::after {
          position: absolute;
          content: "Подробнее";
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 400;
          font-size: 24px;
          line-height: 33px;
          color: #fbfbfb;
          white-space: nowrap;
        }
        &:hover{
          img{
            transform: rotate(10deg);
          }
        }
      }
    }
    &-img{
      width: 100%;
      height: 643px;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.main-brand{
  .form{
    padding-top: 130px;
  }
}
